{
  // http://eslint.org/docs/user-guide/configuring.html
  "env": {
    "node": true
  },
  "rules": {
    // Errors.
    "block-scoped-var": 2,
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "comma-style": [2, "last"],
    "guard-for-in": 2,
    "indent": [2, 2, {"indentSwitchCase": true}],
    "no-mixed-requires": [2, false],
    "no-nested-ternary": 2,
    "no-undefined": 2,
    "quotes": [2, "single", "avoid-escape"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-in-brackets": [2, "never"],
    "space-in-parens": [2, "never"],
    "spaced-line-comment": [2, "always"],
    // Warnings.
    "max-nested-callbacks": [1, 3]
  }
}
