// Heading 1.A
//
// No markup.
//
// Style guide: 1.A

// Heading 1.B
//
// Markup: <span>inline</span>
//
// Style guide: 1.B

// Heading 1.C
//
// Markup: 1c.twig
//
// .modifier-1 - Modifier #1
// :hover - Modifier Hover
//
// Style guide: 1.C

// Heading 1.D
//
// Markup: missing-file.twig
//
// Style guide: 1.D

// Heading 1.E
//
// Markup: <div class="{{ modifier_class }}"></div>
//
// .modifier-1 - Modifier #1
// :hover - Modifier Hover
//
// Style guide: 1.E

// Heading 1.E.A
//
// Markup: 1ea.twig
//
// Style guide: 1.E.A

// Heading 2.A
//
// Style guide: 2.A

// Heading 2.B
//
// Style guide: 2.B

// Heading 2.C
//
// Style guide: 2.C

// Heading 2.D
//
// Style guide: 2.D

// Heading 2.E
//
// Style guide: 2.E
