/*
Comment syntax: multi-line

Using multi-line comment syntax.

Markup:
<a href="#" class="{{modifier_class}}">Hello World</a>

:hover    - Highlights when moused over
:disabled - Dims when unavailable
.primary  - Indicates this is a key element

Styleguide 1.1
*/


// Comment syntax: inline
//
// Using inline comment syntax.
//
// Styleguide 1.2


/*
  Comment syntax: multi-line, indented

  Using multi-line comment syntax.

  Markup:
  <a href="#" class="{{modifier_class}}">Hello World</a>

  :hover    - Highlights when moused over
  :disabled - Dims when unavailable
  .primary  - Indicates this is a key element

  Styleguide 1.3
*/


.example-1-4 {
  content: 'This string includes the start of a multi-line comment: /*';
}

// False-positive of multi-line comment block #1
//
// Styleguide 1.4

// This single-line comment includes the end of a multi-line comment: */


/* A multi-line comment on a single line. */

// False-positive of multi-line comment block #2
//
// Markup:
// <a href="#" class="{{modifier_class}}">Hello World</a>
//
// :hover    - Highlights when moused over
// :disabled - Dims when unavailable
// .primary  - Indicates this is a key element
//
// Styleguide 1.5

// This single-line comment includes the end of a multi-line comment: */

// Comment syntax: inline, directly before multi-line
//
// Styleguide 1.6
/*
Comment syntax: multi-line, directly after inline

Styleguide 1.7
*/

/**
 * Docblock comment syntax
 *
 * Styleguide 1.8
 */
