/*
A button suitable for giving stars to someone.

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
a.button.star {
	background:#ddd;
}
a.button.star.stars-given {
	background:#ff8;
}
a.button.star.disabled {
	background:#888;
}

/*
Experimental: An alternative signup button styling used in AB Test #195.

Styleguide 2.1.3.1
*/

/*
Deprecated: Styling for legacy wikis. We'll drop support for these wikis on
July 13, 2007.

No styleguide reference
*/