// Colors
//
// Colors:
// @textColor:        #111    - base text color
// @textLighterColor: #888    - lighter text color
// @infoColor:        #224d66 - info
// @successColor:     #5a792c - success
// @errorColor:       #c47908 - error
// @warningColor:     #b62922 - warning
//
// Style guide: demo.colors

@textColor: #111;
@textLighterColor: #888;
@infoColor: #224d66;
@successColor: #5a792c;
@errorColor: #c47908;
@warningColor: #b62922;


// Mixins
//
// LESS mixins used in this demo.
//
// Weight: -1
//
// Style guide: demo.mixins
@import "./mixins/example.less";

// Components
//
// Reusable components that can be used across the site.
// So far this just includes buttons.
//
// Style guide: demo.components
@import "./components/buttons.less";

// Forms
//
// Covers styles used for forms, such as the `<input>` and `<select>` elements.
//
// Markup: forms.hbs
//
// Style guide: demo.forms
@import "./forms/base.less";
